---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Terminal Forge - Empowering CLI and TUI App Development | Coming Soon">
  <main class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-xs">
      <img class="mx-auto h-16 w-auto" src="/icon.svg" alt="Terminal Forge Icon" />
    </div>
    <div class="mt-1 sm:mx-auto sm:w-full sm:max-w-lg">
      <h1 class="font-mono text-center text-2xl font-bold text-amber-500">Terminal Forge</h1>
      <p class="mt-6 text-xl text-center text-stone-50"><span class="text-semibold">Terminal Forge</span> is your future hub for CLI and TUI application development. We're building a comprehensive, open-source knowledge base to empower developers with resources, best practices, and tools.</p>
    </div>
  </main>
</Layout>
